<article class="article-detail">
  <div class="article-detail__shadow-wrapper">
    <div style="padding-bottom: 66%;
      background: #ccc;"
      class="article-detail__image-wrapper">
      <img src="{{ .Data.image.teaser_url }}"
      sizes="100vw"
      srcset="{{ .Data.image.full_image_url }} 1000w, {{ .Data.image.teaser_url }} 720w" alt="" class="article-detail__image">
    </div>
  </div>
  <div class="article-detail__meta">
    <h1 class="article-detail__title">{{ .Title }}</h1>
    <div class="article-detail__social">
      <a class="article-detail__comment" href="#comment">
        Comment
      </a>
      <div class="fb-like" data-href="https://www.humansofnosara.org/human/{{ .URL }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
  <div class="article-detail__body">{{ .Content }}</div>
  <div class="article-detail__comments">
    <div id="comment" class="fb-comments" data-href="https://www.humansofnosara.org/human/{{ .URL }}" data-width="100%" data-numposts="5"></div>
  </div>
</article>