<article class="article-detail">
  <div class="article-detail__shadow-wrapper">
    <div 
    style='padding-bottom: {{ .Param "image.ratio" }};'
    class="article-detail__image-wrapper">
      <img src='{{ .Param "image.teaser_url" }}'
      sizes="100vw"
      srcset='{{ .Param "image.full_image_url" }} 1000w, {{ .Param "image.teaser_url" }} 720w' alt="" class="article-detail__image">
    </div>
  </div>
  <div class="article-detail__meta">
    <h1 class="article-detail__title">{{ .Title }}</h1>
    <div class="article-detail__social">
      <a class="article-detail__comment" href="#comment">
        Comment
      </a>
      {{ if eq .Lang "en" }}
        <div class="fb-like" data-href="{{ .URL | absURL }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      {{ else }}
        {{ range .Translations }}
          {{ if eq .Lang "en" }}
            <div class="fb-like" data-href="{{ .URL | absURL }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="article-detail__body">{{ .Content }}</div>
  <div class="article-detail__comments">
    {{ if eq .Lang "en" }}
      <div id="comment" class="fb-comments" data-href="{{ .URL | absURL }}" data-width="100%" data-numposts="5"></div>
    {{ else }}
      {{ range .Translations }}
        {{ if eq .Lang "en" }}
          <div id="comment" class="fb-comments" data-href="{{ .URL | absURL }}" data-width="100%" data-numposts="5"></div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</article>