<header role="banner" class="header">
  <nav class="header__nav">
    <a class="header__nav-item" aria-label="Home" href='{{ "/" | relLangURL }}'>
      <img class="header__logo" src="/favicon.png" alt="">
    </a>
    <div class="header__nav-items">
      {{ range .Site.Menus.main }}
        <a class="header__nav-item" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      {{ range .Translations }}
        <a class="header__language" href="{{ .URL }}">{{ i18n .Lang }}</a>
      {{ end }}
    </div>
  </nav>
</header>
