.navigation {
  background: $black;
}

.navigation__logo {
  filter: invert(100%);
  width: 30px;
  height: 30px;
}

.navigation__nav {
  max-width: $bp-lg;
  margin: 0 auto;
  padding: 1.5rem;
}

.navigation__nav-items {
  float: right;
}

.navigation__logo-wrapper,
.navigation__nav-item,
%navigation__nav-item {
  color: $white;
  height: 30px;
  line-height: 30px;
  margin-right: .5rem;
  font-size: .9rem;

  @media (min-width: $bp-sm) {
    margin-right: 1rem;
    font-size: 1rem;
  }

  @media (max-width: $bp-sm) {
    &:not(.navigation__logo-wrapper):nth-child(2) {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation__language {
  @extend %navigation__nav-item;
  margin-left: 1rem;

  @media (min-width: $bp-sm) {
    margin-left: 2rem;
  }
}
