<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- Open Graph Meta Tags -->
  <meta property="fb:app_id"             content="1745997815450551">
  <meta property="og:url"                content="{{ .URL | absLangURL }}" />
  <meta property="og:type"               content='{{ if eq .Section "human" }}article{{ else }}website{{ end }}' />
  <meta property="og:title"              content='{{ .Param "title" }}' />
  <meta property="og:description"        content='{{ .Param "summary" }}' />
  <meta property="og:image"              content='{{ .Param "image.teaser_url" }}' />
  {{ if eq .Section "human" }}
  <meta property="article:author"      content="https://www.facebook.com/humansofnosara/">
  <meta property="article:publisher"   content="https://www.facebook.com/humansofnosara/">
  {{ end }}

  <title>{{ .Title }}{{ if ne .IsHome true }} - {{ .Site.Title }}{{ end }}</title>
  <meta property="description"   content='{{ .Param "summary" }}'>
  <link rel="stylesheet" href='{{ "/css/styles.css" | relURL }}'>
  <link rel="icon" type="image/png" href='{{ "/favicon.png" | relURL }}'>
  <link rel="preload"
    href="https://fonts.googleapis.com/css?family=Mukta:400|Montserrat:400,700"
    as="style"
    onload="this.rel='stylesheet'">
  {{ partial "scripts/load-css.html" }}
</head>
<body>
  {{ partial "scripts/google-analytics.html" }}
  {{ partial "navigation.html" . }}